{{ template "header.html" }}
	<div class="container" ng-app="bsp_test" ng-controller="bsp_test">
	<div class="row">
		<h1 class="col-sm-4" align="right"></h1>
	</div>
	<div class="row">
	<form class="form-horizontal" role="form">
		<div class="form-group">
		    <label class="col-sm-2 control-label">协议类型</label>
			<div class="col-sm-2">
		    <select class="form-control" ng-init="req.protoType='UDP'" ng-model="req.protoType" ng-options="x for x in protoTypes">
		    </select>
			</div>
		</div>

		<div class="form-group">
		    <label class="col-sm-2 control-label">数据类型</label>
			<div class="col-sm-2">
		    <select class="form-control" ng-init="req.dataType='JSON'" ng-model="req.dataType" ng-options="x for x in dataTypes">
		    </select>
			</div>
		</div>

		<div ng-switch="req.dataType">
			<div ng-switch-when="PB">
				<div class="form-group">
						<label class="col-sm-2 control-label">PB文件名</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" placeholder="redis_intf.proto" ng-model="req.pbFileName">
						</div>
				</div>
			</div>
		</div>
		
		<div ng-switch="req.dataType">
			<div ng-switch-when="PB">
				<div class="form-group">
						<label class="col-sm-2 control-label">PB消息类型</label>
						<div class="col-sm-2">
							<input class="form-control" type="text" placeholder="redis_intf.Request" ng-model="req.pbMsgType">
						</div>
				</div>
			</div>
		</div>

		<div class="form-group">
		    <label class="col-sm-2 control-label">IP</label>
			<div class="col-sm-2">
		    	<input class="form-control" type="text" placeholder="10.255.8.80" ng-model="req.ip">
			</div>
		</div>
		<div class="form-group">
		    <label class="col-sm-2 control-label">PORT</label>
			<div class="col-sm-2">
		    	<input class="form-control" type="text" placeholder="11000" ng-model="req.port">
			</div>
		</div>

		<div class="form-group">
		    <label class="col-sm-2 control-label">并发数</label>
			<div class="col-sm-2">
		    	<input class="form-control" type="text" placeholder="100" ng-model="req.procNum">
			</div>
		</div>

		<div class="form-group">
		    <label class="col-sm-2 control-label">请求数/并发</label>
			<div class="col-sm-2">
		    	<input class="form-control" type="text" placeholder="100" ng-model="req.reqNum">
			</div>
		</div>

		<div class="form-group">
	    	<label class="col-sm-2 control-label">消息头</label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="4" placeholder="please input message header in json format..." ng-model="req.msgHeader"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">消息体</label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="4" placeholder="please input message body in json format..." ng-model="req.msgBody"></textarea>
			</div>
		</div>
	</form>
	</div>
	<br>
	<div class="row col-sm-10" align="center">
		<button type="button" class="btn btn-success" ng-click="test()">开始测试</button>
	</div>
	<br><br>
	<div class="row">
		<label class="col-sm-2"></label>
		<textarea class="col-sm-6" rows="4" placeholder="result.." ng-model="result"></textarea>
	</div>
	<br><br>
	</div>
	<script>
		var app = angular.module("bsp_test", []);
		app.controller("bsp_test", function($scope, $http) {
			$scope.protoTypes = ["UDP", "TCP"];
			$scope.dataTypes = ["JSON", "PB"];
			$scope.$watch("req", function(){
				$scope.result = angular.toJson($scope.req);
			}, true);
			$scope.result = angular.toJson($scope.req);
			$scope.test = function() {
				$http({
					method: 'POST',
					url: 'http://10.39.196.185:9898/test',
					data: angular.toJson($scope.req)
					}).then(function successCallback(response) {
						$scope.result = response.data;
					}, function errorCallback(response) {
						$scope.result = "request fail";
				});
			}
		});
	</script>
{{ template "footer.html" }}
