    </div>
	<div class="col-sm-2" align="center">
	  <ul class="nav nav-pills nav-stacked">
		<li><img src="/static/images/twoDogs.jpeg" class="img-circle"></li>
		<li><em class="text-dark">Software engineer in Shenzhen</em></h3></li>
	    <li><em class="text-dark">code in golang and c++</em></li>
	    <li><em class="text-dark">cshengqun@gmail.com</em></li>
		<li><br/></li>
	    <li><a href="https://program-think.blogspot.com/">编程随想</a></li>
	  </ul>
	</div>
	<div class="col-sm-1">
	</div>
</div>
</body>
</html>
